*  {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    background-color: gainsboro;
}
.container {
    width: 500px;
    height: 1000px;
    
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
.w {
    width: 400px;
    height: 900px;
    margin: 0 auto;
    background: lightskyblue;
}
.header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.headerText {
    text-align: center;
}
.cssbe6388d2919ac6 {
    font-size: 26px;
}
.headerInput {
    margin: 10px 118px;
}
.lists {
    background-color: burlywood;
}
